<!doctype html>
<html class="{{ page.page-class }}" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

        <link rel="stylesheet" href="/assets/css/dist/all.css">

        <link rel="icon" type="image/gif" href="/assets/images/icons/favicon.png">
        <link rel="apple-touch-icon" href="/assets/images/icons/apple-touch-icon.png">

        <meta name="description" content="">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    </head>

    <body>

        {% include header.html %}

            {{ content }}

        {% include footer.html %}

        <script src="/assets/js/dist/all.js"></script>

    </body>
</html>
